.mainHeader {
    display: flex;
    justify-content: space-between;
}

nav {
    height: 5rem;
    width: 100vw;
    background-color: #333;
    color: #FFF;
    display: flex;
    align-items: stretch;
}

nav ul {
    display: flex;
    justify-content: space-between;
 list-style: none;
 gap: 1rem;

}

nav a {
    color: inherit;
    gap: 2rem;
    padding: 0 1rem;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.siteTitle {
    font-size: 2rem;
}

nav li.active {
    background-color: #555;
}

nav li:hover {
    background-color: #777;
}

