


.frontPage {
    min-height: 100vh;
    color: #FFF;
    padding: 0.25rem 1.5rem 0rem 1.5rem;
}


.heroImage2 {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    }