@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  ---main-bg-color: #ccd5ae;
  ---main-font-family: "essentialsans";
  ---main-font-weight: "normal";
  ---main-font-size: 1rem;
  ---main-border-color: #000;
  ---main-font-color: #92bc03;
  ---secondary-font-color: #1b1b1b;
}

@font-face {
  font-family: "EditorsNote";
  src: local("EditorsNote"),
    url("./fonts/Editor'sNote-Regular.woff") format ("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  background: radial-gradient(rgba(253, 245, 110, 1), rgba(245, 158, 44, 0.88) 1%, rgba(245, 118, 33, 0.88) 58%, rgba(255, 153, 226, 0.67) 100%);
  font-family: var(---main-font-family);
  font-weight: var(---main-font-weight);
  font-size: var(---main-font-size);
}

body {
  background: var(  ---main-bg-color);
  margin: 10% 10%;
  padding: 0.1rem 2rem;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3rem;
}


p {
  font-size: 1rem;
  font-family: "essentialsans";
  text-shadow: 1px 1px 3px black;
}

h1 {
  color: var(---main-font-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.538);
  font-size: 2.25rem;
  font-family: "essentialsans";
  src: local("essentialsans"), url("./fonts/EssentialSans-Regular.woff") format ("woff");
  font-weight: normal;
  font-style: normal;
  text-align: center;
}


h2 {
  font-size: 1.8rem;
  line-height: 125%;
  padding: 1rem 0rem;
  font-family: "editorsnote";
}

h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2rem 0rem;
  color: white;
}

a {
  color: rgb(56, 56, 56);
}


